@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #020410;
}

/* Center the form vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Style the form container */
form {
    background-color: #1d6364;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Style the form elements */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="file"],
textarea,
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid ;
    border-radius: 5px;
}

button {
    background-color: #162938;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}

.send a{
    color: #fff;
}