<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>BlogByte</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1><i class='bx bxs-palette'></i></a>BlogByte</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="login.html">Login</a></li>
                
                

            </ul>
        </nav>
    </header>
    
    <section class="featured-articles">
        <h2>Featured Articles</h2>
    </section>
</body>
</html>
