{% load static %} 


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogByte | Register</title>
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>

    <header class="header">
        <h2><i class='bx bxs-palette' ></i>BlogByte</h2>
        <nav class="navbar">
            <a href="/signin">Login</a>
            
        </nav>
    </header>

    <div class="background"></div>

    <div class="logreg-box">    
        <div class="form-box register">

<!--messages-->
            <div>
                <style>
                    h5{
                        color: red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>


            <form action="" method="POST">
               {% csrf_token %}
                <h2>Sign up</h2>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" name="username" id="username" required>
                    <label>Name</label>
                </div>


                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>

                    <input type="password" name="password" id="password" required>

                    <label>Password</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>

                    <input type="password" name="password2" id="password" required>

                    <label>Confirm Password</label>
                </div>

                <button type="submit" name="registration" class="btn">Sign up</button>
                <div class="login-register">
                    <p>Already have an account? <a href="/signin" class="login-link">Login</a></p>
                </div>
                
                
                <div>
                    
                </div>
            </form>
        </div>    
    </div>

    <div class="container">
    </div>

    <div class="social-icons">
        <a href="BlogByte-twitter"><i class='bx bxl-twitter' ></i></a>
        <a href="BlogByte-facebook"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="BlogByte-instagram"><i class='bx bxl-instagram-alt' ></i></a>
    </div>

    
</body>
</html>